PORT=3001

# --- Base de datos (Supabase) ---
DB_PORT=5432
DB_USER=postgres
DB_PASS=    
DB_NAME=postgres

DATABASE_URL="postgresql://postgres.ninopcmmnufzbkchfdvz:TU_PASSWORD@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.ninopcmmnufzbkchfdvz:TU_PASSWORD@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

# --- Supabase Auth ---
SUPABASE_URL=https://ninopcmmnufzbkchfdvz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pbm9wY21tbnVmemJrY2hmZHZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwOTk1ODYsImV4cCI6MjA5NTY3NTU4Nn0.0OWpExqRreb4QqAJO7trGbSZfx39jLSVca0N06Znen4
SUPABASE_SERVICE_ROLE_KEY=   # <-- Supabase Dashboard > Settings > API > service_role (secret)
