PORT=3001

DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=postgres

# --- Supabase ---
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

DATABASE_URL=
DIRECT_URL=

CORS_ORIGIN=http://localhost:4200